.itemCard{
    width: 30em;
    text-align: center;
    margin: 1em;
    max-height: 36.5em;
    background-color: #052354;
    color: 'white';
    position: relative;
}

@media (max-width: 450px) {
    .itemCard{
        width: 20em;
    }
}

.infoDiv{
    text-align: left;
}

.infoDiv span{
    display: inline-block;
    margin: 0.5em;
    font-weight: bold;
}

.iconBtn{
    height: 25px;
    border-radius: 25px;
    border: 1px solid white;
    cursor: pointer;
    transition: color 0.25s ease-in, background-color 0.25s ease-in;
}

.iconBtn:hover{
    background-color: white;
    color: black;
}

.description{
    display: block;
    height: 8em;
    overflow-y: auto;
}

/* width */
.description::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.description::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
.description::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
.description::-webkit-scrollbar-thumb:hover {
background: #555;
}

.description_fieldset{
    border: 2px solid white;
    border-radius: 10px;
}